@model WebApp_NP.Models.ViewModels.TrailVm

@{
    ViewData["Title"] = "Upsert";
    var title = Model.Trail.Id != 0 ? "Edit Trail" : "Create New Trail";
    var actionbtn = Model.Trail.Id != 0 ? "Update" : "Add New";
}

<h2 class="text-primary">@title</h2>

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    @if (Model.Trail.Id != 0)
    {
        <input type="hidden" asp-for="Trail.Id" />
    }

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row border p-3 m-2">
        <div class="col-md-8 offset-md-2">

            <div class="form-group">
                <label asp-for="Trail.NationalParkId"></label>
                <select asp-for="Trail.NationalParkId" asp-items="Model.NationalParkList" class="form-control">
                    <option value="">-- Select National Park --</option>
                </select>
                <span asp-validation-for="Trail.NationalParkId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Trail.Name"></label>
                <input asp-for="Trail.Name" class="form-control" />
                <span asp-validation-for="Trail.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Trail.Distance"></label>
                <input asp-for="Trail.Distance" class="form-control" />
                <span asp-validation-for="Trail.Distance" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Trail.Elevation"></label>
                <input asp-for="Trail.Elevation" class="form-control" />
                <span asp-validation-for="Trail.Elevation" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Trail.Difficulty"></label>
                <select asp-for="Trail.Difficulty" asp-items="Html.GetEnumSelectList<DifficultyType>()" class="form-control">
                    <option value="">-- Select Difficulty --</option>
                </select>
                <span asp-validation-for="Trail.Difficulty" class="text-danger"></span>
            </div>

            <div class="form-group row mt-4">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-info w-100">@actionbtn</button>
                </div>
                <div class="col-md-6">
                    <a asp-action="Index" class="btn btn-success w-100">Back To List</a>
                </div>
            </div>

        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
}
